<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Documento sin título</title>
<link href="HojasEstilo.css" rel="stylesheet" type="text/css"/>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link href="EstiloPlantilla.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <section id="contenedor">  
    	<header>
        	<img src="../bannerSuperiorChinchay.jpg" id="banner">
            <div id="titulo">
            	Inicio
            </div>
        </header>
        <section id="principal">
      	<nav>
            <ul id="menu">
            	<li><a href="Nuestra Historia.html">Nuestra Historia</a></li>
                <li><a href="comentarios.html">Comentarios</a></li>
                <li><a href="Articulo.html">Artículos</a></li>
                <li><a href="Eventos Especiales.html">Eventos Especiales</a></li>
                <li><a href="Menu.html">Menú</a></li>            
                <li><a href="Ubicacion.html">Ubicación</a></li>
                <li><a href="Contactenos.html">Contactenos</a></li>
            </ul>
        </nav>
        <section id="CuerpoDocumento">
            <!-- InstanceBeginEditable name="EditRegion3" -->
            <h3>ARTÍCULOS</h3>
			<table>
				<tr>
					<td>
						<h4>Pescado a la brasa</h4>
						<p>Para este plato, se cuenta con la instalación de un horno estilo pollero para que obtenga ese sabor brasero que tanto gusta a los peruanos</p>
						<p>La trucha a la brasa guarda los mismos sabores de un pollo a la brasa, la diferencia es que al ser un producto más noble, ha sido puesto en medio de rejillas para cuidar que no se pase el punto de cocción.</p>
					</td>
					<td>
						<div class="contenedor">
    						<img src="../pescado_a_la_brasa_01.jpeg">
    						<img class="top" src="../pescado_a_la_brasa_02.jpeg">
						</div>
					</td>
				</th>
				<tr>
					<td>
						<h4>Restaurante peruano es uno de los mejores en Nueva York</h4>
							<p>El restaurante de comida peruana Llama Inn, ubicado en Williamsburg (Nueva York, Estados Unidos), ha sido destacado como uno de los mejores del 2016 en la versión web del diario The New York Times.</p>
							<p>Pete Wells, crítico gastronómico del medio estadounidense, realizó una lista de 10 restaurantes que visitó este año y a los que volvería a visitar. Llama Inn, que se ubica en el puesto 10, fue reseñado en febrero de este año por Wells.</p>
					</td>
					<td>
						<div class="contenedor">
    						<img src="../Restaurante_peruando_Nueva_York_01.jpeg">
    						<img class="top" src="../Restaurante_peruando_Nueva_York_02.jpeg">
						</div>
					</td>
				</tr>
			</table>
            <!-- InstanceEndEditable -->
        </section>
        </section>
        <footer>
            <h4>Todos los derechos reservados</h4>    
         </footer>
	</section>    
</body>
<!-- InstanceEnd --></html>
