<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Plantilla.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Ubicacion</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link href="EstiloPlantilla.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <section id="contenedor">  
    	<header>
        	<img src="../bannerSuperiorChinchay.jpg" id="banner">
            <div id="titulo">
            	Inicio
            </div>
        </header>
        <section id="principal">
      	<nav>
            <ul id="menu">
            	<li><a href="Nuestra Historia.html">Nuestra Historia</a></li>
                <li><a href="comentarios.html">Comentarios</a></li>
                <li><a href="Articulo.html">Artículos</a></li>
                <li><a href="Eventos Especiales.html">Eventos Especiales</a></li>
                <li><a href="Menu.html">Menú</a></li>            
                <li><a href="Ubicacion.html">Ubicación</a></li>
                <li><a href="Contactenos.html">Contactenos</a></li>
            </ul>
        </nav>
        <section id="CuerpoDocumento">
            <!-- InstanceBeginEditable name="EditRegion3" -->
			<h3>Ubicación</h3><br> 
			<iframe src="../Yma Sumac - Gopher Mambo (Capitol Records 1954).mp4" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
			<!-- InstanceEndEditable -->
        </section>
        </section>
        <footer>
            <h4>Todos los derechos reservados</h4>    
         </footer>
	</section>    
</body>
<!-- InstanceEnd --></html>
